<div class="mainContainer flex flex-col gap-4">
    <button class="btn"  (click)="onClickButton()">
        Connect wallet
      </button>
      <div>
        Address: {{walletAddress}}

      </div>


      <button class="btn"  (click)="readContract()">
        Read contract      
      </button>

      <button class="btn"  (click)="createTransaction()">
        Create Transaction     
      </button>
      <button class="btn"  (click)="sendToken()">
        Send Token     
      </button>
      <button class="btn"  (click)="mintNFT()">
        Mint NFT     
      </button>
        

       
</div>
